[Unit]
Description=RESPIRE Homelab (Controller Interface)
After=network-online.target getty@tty1.service
Wants=network-online.target
Conflicts=getty@tty1.service

[Service]
Type=idle
User=pi
WorkingDirectory=/opt/respire
ExecStart=/usr/bin/python3 /opt/respire/firmware/main.py
StandardInput=tty
StandardOutput=tty
StandardError=journal
TTYPath=/dev/tty1
Restart=on-failure
RestartSec=3

[Install]
WantedBy=multi-user.target
